<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgetPassword"></activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Recipes.AddIngredientToRecipe" />
        <activity android:name=".Recipes.EditIngredientRecipe" />
        <activity android:name=".Recipes.EditRecipe" />
        <activity android:name=".Planner.ShowPlan" />
        <activity android:name=".Planner.ChooseMeal" />
        <activity android:name=".Planner.PlannerDay" />
        <activity android:name=".Planner.AddPlan" />
        <activity android:name=".ShoppingList.EditIngredient" />
        <activity android:name=".ShoppingList.AddItem" />
        <activity android:name=".Recipes.RecipeDetail" />
        <activity
            android:name=".Recipes.DisplayRecipes"
            android:parentActivityName=".Recipes.Recipes" />
        <activity android:name=".Recipes.RecipesStep4" />
        <activity android:name=".Recipes.RecipesStep3" />
        <activity
            android:name=".Recipes.RecipesStep2"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Recipes.RecipesStep1" />
        <activity android:name=".Recipes.Recipes" />
        <activity
            android:name=".ShoppingList.ShoppingList"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Planner.Planner" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>